# Dependencies
node_modules
client/node_modules
server/node_modules

# Production builds
dist
client/dist

# Environment variables
.env
server/.env
client/.env

# System & IDE files
.DS_Store
Thumbs.db
.vscode
.idea
*.log
.system_generated
